


<div class="signup form">
	<div class="textwrap">
		<i class="fa fa-phone icon"></i>
		<input type="number" class="text phonenumber" placeholder="手机号码">
	</div>
	<p class="textinfo">请使用你自己真实的手机号，你的手机号将被采用当做爱乐缘的唯一凭证</p>
	<div class="textwrap">
		<i class="fa fa-key icon"></i>
		<input type="password" class="text password" placeholder="账户密码">
	</div>
	<p class="textinfo">密码不能少于6位数，建议采用字母加数字</p>
	<div class="btn signupbtn swipe" action="/verifyphone" action-type="next">下一步</div>
	<p  class="textinfo">点击上面的"下一步"按钮，即表示你已经阅读并同意《爱乐缘使用条款和隐私政策》</p>
</div>






















