



<div class="form">


	<div class="imgblock">
		<img src="img/picture.png" style="margin:0 auto" width="100">
		<input type="file"accept="image/*; capture=camera" class="touchable headerfile"/>
	</div>
	<p class="textinfo">请上传你自己真实的头像，这样方便于其他人更好的找到和认识你</p>
	<div class="btn signupbtn swipe" action="/basicinfo" action-type="next">下一步</div>


</div>


