





<div class="form">
	<div class="congratulations"> 
		<h3>恭喜！</h3>
		<p  class="textinfo">你的手机号已在链爱上注册成功,你可用你的手机号来登录链爱。</p>
	</div>
	<div class="btn signupbtn swipe" action="/upload" action-type="next">填写个人信息</div>
	<p class="textinfo">链爱是一个真实信息的情感社交平台,我们鼓励每个用户都使用他们真实的个人信息,来创建一个健康真实的社交环境。</p>
</div>






















