


<div class="basicinfo form">
	<div class="textwrap">
		<i class="fa fa-user icon"></i>
		<input type="text" class="text username" placeholder="姓名">
	</div>
	<p class="textinfo">请填写你真实的姓名,这样方便于其他人更好的找到和认识你</p>
	<div class="textwrap birthdaywrap">
		<input type="date" class="text birthday" value="1990-08-16" placeholder="生日">
	</div>

	<p class="textinfo">请输入你的真实生日,这有可以更好的帮助你找到和你同龄的人,不允许再修改</p>
	<div class="options">
		<div class="group gender">
			<span class="touchable" data="male">男</span>
			<span class="lastone touchable unchecked" data="female">女</span>
		</div>
	</div>
	<p class="textinfo">性别设置后,将不允许再修改</p>
	<div class="options">
		<div class="group state">
			<span class=" touchable" data="single">单身</span>
			<span class="lastone touchable unchecked" data="loving">恋爱中</span>
		</div>
	</div>
	<p class="textinfo">请选择你的真实情感状态</p>
	<div class="btn signupbtn swipe" action="/chat" action-type="next">下一步</div>
</div>






















