<div class="wrapper">
	<div class="logo">
		<h3>LoveChain</h3>
		<p>真实的情感社交平台</p>
		<i class="fa fa-heart"></i>
	</div>
	<div class="btns">
		<div class="btn signin swipe" action="/signin" action-type="next">登录</div>
		<div class="btn signup swipe" action="/signup" action-type="next">注册</div>
	</div>
</div>