


<div class="signin form">
	<div class="textwrap">
		<i class="fa fa-phone icon"></i>
		<input type="number" class="text phonenumber" placeholder="手机号码">
	</div>
	<p class="textinfo">请填入你注册时填写的手机号</p>
	<div class="textwrap">
		<i class="fa fa-key icon"></i>
		<input type="password" class="text password" placeholder="账户密码">
	</div>
	<p class="textinfo">请输入你的密码</p>
	<div class="btn signupbtn swipe" action="/chat" action-type="next">登录</div>
</div>





























