



<div class="form upload">
	<div class="imgblock">
		<img src="img/picture.png" style="margin:0 auto">
	</div>
	<p class="textinfo">请上传你自己真实的头像，这样方便于其他人更好的找到和认识你</p>
	<div class="btn signupbtn">选择图片
	<input type="file" accept="image/*; capture=camera" class="touchable headerfile"/>
	</div>
</div>


<div class="canvas touchable">
	<canvas id="canvas" width="270" class="touchable" height="270">
	</canvas>
	<div class="btn upload" style="width:270px;margin:0 25px 5px;">上传</div>
	<div class="btn rotate" style="width:270px;margin:0 25px 5px;">旋转</div>
	<div class="btn reselect" style="width:270px;margin:0 25px 5px;">重新选择</div>
</div>

