


<div class="verifyphone form">
	<div class="textwrap">
		<i class="fa fa-keyboard-o icon"></i>
		<input type="number" class="text code" placeholder="请输入你收到的短信验证码">
	</div>
	<p class="textinfo">短信验证码为4位数字，我们自动完成这一步当你收到短信验证码后</p>
	<div class="btn signupbtn swipe" action="/success" action-type="next">下一步</div>
</div>






















