



<div class="degreeselect navlist">
	<div class="items">
		
	</div>

</div>
<script type="text/javascript">

	void function(){
		var user = S.get("user"), type = localStorage.editkey,
			data = {}, leftarrow = $(".leftarrow");


		var tmpl = 
		'{{#each list}}<div class="item touchable" >\
			<span>{{this}}</span>\
		</div>{{/each}}';


		var first = ["小学","高中","大学","研究生","博士"];

		var templatedata = {list: first};

		var template = Handlebars.compile(tmpl);

		var string = template(templatedata);


		var select = $(".degreeselect").find(".items");

		var user = S.get("user"), editkey = localStorage.editkey, postdata = {};

		select.html(string);
		select.css("height",$(window).height()-40).parent().css("overflow-y","auto").css("-webkit-overflow-scrolling","touch");


		select.off().on("tap", ".item", function(){

			var me = $(this), key = me.find("span").html();

			postdata[editkey] = key;
			$.post("/restful/User/"+user._id, postdata, function(data){
				leftarrow.trigger("tap");
			});
			
		});
	}();

</script>




