<div class="feeds" id="feeds">
	
	<div class="bg" style="background:#ddd;">
		<div class="header touchable swipe" action="/chat/myfeed" action-type="next">
			<img src="" class="myheader" height="60"></div>	
		<div class="name">AKI</div>
	</div>
	
<!-- 	<div class="feed">
		<div class="header">
			<img src="/img/picture.png" height="40">
		</div>
		<div class="cfeed">
			<span class="title touchable"><h3>刘芳芳</h3>分享了一个连接</span>
			<div class="link">
				<img src="/img/bg.png" height="30">
				<span>2014年创业指导</span>
			</div>
		</div>
	</div> -->
</div>

<script type="text/javascript">

	void function(){




		

		


	}();






















</script>




