

<div class="profile navlist touchable">
	<div class="header">
		<img src="" height="80">
		<input type="file" class="imageinput touchable"  accept="image/*; capture=camera" >
	</div>
	<div class="items">
		<div class="item swipe touchable" id="nickname" action="/chat/texteditor" action-type="next" >
			<span>昵称</span>
			<span class="now"></span>
			<i class="fa fa-chevron-right"></i>
		</div>
		<div class="item swipe touchable" id="signature" action="/chat/texteditor" action-type="next">
			<span>内心独白</span>
			<span class="now"></span>
			<i class="fa fa-chevron-right"></i>
		</div>
	</div>

	<h3>基本信息</h3>

	<div class="items">
		<div class="item touchable" id="name">
			<span>真实姓名</span>
			<span class="now stable"></span>
		</div>
		<div class="item touchable" id="gender">
			<span>性别</span>
			<span class="now stable"></span>
		</div>
		<div class="item touchable" id="birthday">
			<span>生日</span>
			<span class="now stable"></span>
		</div>
		<div class="item swipe touchable" id="height" action="/chat/texteditor" action-type="next">
			<span>身高</span>
			<span class="now"></span>
			<i class="fa fa-chevron-right"></i>
		</div>
		<div class="item swipe touchable" id="married" action="/chat/ismarried" action-type="next">
			<span>婚姻状况</span>
			<span class="now"></span>
			<i class="fa fa-chevron-right"></i>
		</div>
	</div>


	<h3>工作信息</h3>
	<div class="items">
		<div class="item swipe touchable" id="title" action="/chat/texteditor" action-type="next">
			<span>职业</span>
			<span class="now"></span>
			<i class="fa fa-chevron-right"></i>
		</div>
		<div class="item swipe touchable"  id="company"  action="/chat/texteditor" action-type="next">
			<span>公司</span>
			<span class="now"></span>
			<i class="fa fa-chevron-right"></i>
		</div>
		<div class="item swipe touchable" id="salary" action="/chat/editsalary" action-type="next">
			<span>月薪</span>
			<span class="now"></span>
			<i class="fa fa-chevron-right"></i>
		</div>
	</div>

	<h3>住址信息</h3>
	<div class="items">
		<div class="item swipe touchable" id="oldaddress" action="/chat/addressselect" action-type="next">
			<span>家乡</span>
			<span class="now"></span>
			<i class="fa fa-chevron-right"></i>
		</div>
		<div class="item swipe touchable" id="address" action="/chat/addressselect" action-type="next">
			<span>住址</span>
			<span class="now"></span>
			<i class="fa fa-chevron-right"></i>
		</div>
	</div>


	<h3>学历信息</h3>
	<div class="items">
		<div class="item swipe touchable" id="degree" action="/chat/degreeselect" action-type="next">
			<span>学历</span>
			<span class="now"></span>
			<i class="fa fa-chevron-right"></i>
		</div>
		<div class="item swipe touchable" id="college" action="/chat/college" action-type="next">
			<span>毕业学校</span>
			<span class="now"></span>
			<i class="fa fa-chevron-right"></i>
		</div>
	</div>


	<h3>其他信息</h3>
	<div class="items" style="margin-bottom:100px;">
		<div class="item swipe touchable" id="interesting" action="/chat/texteditor" action-type="next">
			<span>兴趣爱好</span>
			<span class="now"></span>
			<i class="fa fa-chevron-right"></i>
		</div>
		<div class="item swipe touchable" id="religion" action="/chat/texteditor" action-type="next">
			<span>宗教信仰</span>
			<span class="now"></span>
			<i class="fa fa-chevron-right"></i>
		</div>
	</div>


	<div class="btn logout" style="background: #fff;color: #333;margin-top: -57px;">
		退出登录
	</div>
</div>


<div class="canvas touchable">
	<canvas id="canvas" width="270" class="touchable" height="270">
	</canvas>
	<div class="btn upload" style="width:270px;margin:0 25px 5px;">上传</div>
	<div class="btn rotate" style="width:270px;margin:0 25px 5px;">旋转</div>
	<div class="btn reselect" style="width:270px;margin:0 25px 5px;">重新选择</div>
	
</div>

<script type="text/javascript">
	void function(){

		var preview = document.querySelector('.profile .header img');
		var reader  = new FileReader();
		var c = document.getElementById("canvas"),
			wrap = $(".canvas");
		var width, height;
		var ctx = c.getContext("2d");

		function previewFile() {

			var file = document.querySelector('.profile input[type=file]').files[0];

			reader.onloadend = function () {
				base64 = reader.result;

				preview.onload = function(){

					width = 540;
					height = Math.ceil(preview.height*540/preview.width);

					ctx.drawImage(preview,0,0, width, height);
					c.parentNode.style.display = "block";
					console.log(preview.width);
				};
				preview.src = reader.result;
			}

			reader.readAsDataURL(file);
			
		}

		var point = {} , endpoint , x=0, y=0, a = 0, b =0;
		wrap.on("touchstart", function(e){
			if(e.touches.length == 1){
				point.x = e.touches[0].pageX;
				point.y = e.touches[0].pageY;
			}
			e.preventDefault();
		});

		wrap.on("touchmove", function(e){
			if(e.touches.length == 1){
				a = e.touches[0].pageX - point.x;
				b = e.touches[0].pageY - point.y;
				draw();
			}
			e.preventDefault();
		});

		wrap.on("touchend",function(e){
			x += a;
			y += b;
			a = 0;
			b = 0;
		});



		function draw(){
			ctx.drawImage(preview, a + x, b + y, width, height);

			ctx.restore();
		}

		function getImageData(){
			return c.toDataURL('image/jpeg');
		}

		var dom = $(Swiper.activeSlide());
		
		dom.find(".profile").find("input").on("change", previewFile), r = 0;

		wrap.on("tap", ".upload", function(){
			var image = getImageData();
			$.post("/user/upload", { base64: image, rotate: r}, function(data){
				if(data){
					wrap.hide();
					preview.onload = function(){};
					preview.src = image;
				}
			});
		}).on("tap", ".reselect", function(){
			preview.onload = function(){};
			// preview.src="/img/picture.png";
			wrap.hide();
		}).on("tap", ".rotate", function(){
			r += 90;
			$(c).css("-webkit-transform","rotate("+r+"deg)");
		});



		dom.off().on("tap", ".logout", function(){

			if(confirm("确定退出链爱吗?")){
				localStorage.user = null; 
				location.href="/";
			}
		});



	}();


</script>













