
<div class="messages">

	<div class="msgs">
		
	</div>

	

</div>


<div class="input">
	<i class="fa fa-align-left"></i>
	<input type="text" class="inputtext touchable">
	<i class="fa fa-plus-circle"></i>
</div>
