<div class="feeds" id="feeds">
	
	<div class="bg" style="background:#ddd;">
		<div class="header"><img src="" class="myheader" height="60"></div>	
		<div class="name">AKI</div>
		<input type="file" class="backgroundinput touchable"  accept="image/*; capture=camera" >
	</div>
</div>





