

<div class="search  navlist ">
	<div class="items" style="margin-bottom:10px;">
		<div class="item swipe touchable searchage" id="searchage" action="/chat/search/age" action-type="next">
			<span>选择年龄</span>
			<span class="now">不限</span>
			<i class="fa fa-chevron-right"></i>
		</div>
		<div class="item swipe touchable searchheight"  id="searchheight"  action="/chat/search/height" action-type="next">
			<span>选择身高</span>
			<span class="now">不限</span>
			<i class="fa fa-chevron-right"></i>
		</div>
		<div class="item swipe touchable searchdegree" id="searchdegree" action="/chat/search/level" action-type="next">
			<span>选择文化水平</span>
			<span class="now">不限</span>
			<i class="fa fa-chevron-right"></i>
		</div>
		<!-- <div class="item swipe touchable searchwork" id="searchwork" action="/chat/search/work" action-type="next">
			<span>填写职业</span>
			<span class="now">不限</span>
			<i class="fa fa-chevron-right"></i>
		</div> -->
		<div class="item swipe touchable searchsalary"  id="searchsalary"  action="/chat/search/salary" action-type="next">
			<span>选择收入水平</span>
			<span class="now">不限</span>
			<i class="fa fa-chevron-right"></i>
		</div>
		<div class="item swipe touchable searchaddress" id="searchaddress" action="/chat/search/address" action-type="next">
			<span>选择地方</span>
			<span class="now">不限</span>
			<i class="fa fa-chevron-right"></i>
		</div>
	</div>
	<div class="btn  signupbtn searchbtn">搜索</div>
	<div class="result nearby"></div>
</div>






