







.bottom-bar{
	height: 46px;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	border-top: 1px solid #eee;
	background-color: #fff;
}


.bottom-bar .item{
	display: inline-block;
	width: 24%;
	text-align: center;
	height: 46px;
}

.bottom-bar .item i{
	display: block;
	font-size: 20px;
	margin: 5px 0 0;
	color: #ccc;
	/**/
}

.bottom-bar .item span{
	font-size: 10px;
}

.bottom-bar .item.current span, .bottom-bar .item.current i{
	color: #20c47e;
}


.chat .content{
	background-color: #fff;
}

.chatlist .newmsg{
	position: absolute;
	background: red;
	width: 18px;
	z-index: 8;
	color: #fff;
	border-radius: 7px;
	left: 39px;
	font-size: 12px;
	text-align: center;
	top: 3px;
}


.chatlist .item{
	position: relative;
	height: 40px;
	padding: 10px;
	border-bottom: 1px solid #eee;
	background-color: #fff;
}

.chatlist .box{
	position: absolute;
	top: 10px;
	left: 60px;
}

.chatlist .box h3{
	font-size: 14px;
	color: #333;
	font-weight: normal;
}

.chatlist .box  p{
	font-size: 12px;
	color: #ccc;
}

.chatlist .time{
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 12px;
}


.views{

}


.navlist .items{
	margin-top: 10px;
	border-top: 1px solid rgb(235,235,235);
}


.navlist .items .item{
	height: 40px;
	background-color: #fff;
	line-height: 40px;
	border-bottom: 1px solid rgb(235,235,235);
	color: #333;
	position: relative;
}

.navlist .items .item span{
	margin-left: 10px;
}
.navlist .items .item span i{
	display: inline-block;
	width: 20px;
}


.navlist .items .item .fa-chevron-right{
	font-size: 12px;
	position: absolute;
	right: 10px;
	top: 16px;
	color: #ccc;
}


.info .header {
	padding: 14px 10px 0;
	line-height: 40px;
}

.info .header .name{
	vertical-align: top;
	color: #333;
	margin-left: 10px;
}

.info .item{
}

.info .item .title{
	display: inline-block;
	width: 90px;
}


.info .item .title{
	display: inline-block;
	width: 90px;
}

.info .item .c{
	color:#ccc;
}

.info .item .c img{
	margin-top: 10px;
}










