
body {
    margin: 0;
    padding: 0;
    background-color: rgb(246,246,246);
    color: #b4b4b4;
    font-size: 12px;
    font-family:"Microsoft YaHei","微软雅黑","Microsoft JhengHei","华文细黑","STHeiti","MingLiu";
    display:none;
    overflow: hidden;
}

html{
    overflow: hidden;

}

h2,h3,ul,li,p,input{
    margin: 0;
    padding: 0;
    outline: none;
}




.swiper-container {
    margin:0 auto;
    position:relative;
    overflow:hidden;
    pointer-events:none;
    -webkit-backface-visibility:hidden;
    -moz-backface-visibility:hidden;
    -ms-backface-visibility:hidden;
    -o-backface-visibility:hidden;
    backface-visibility:hidden;
    /* Fix of Webkit flickering */
    z-index:1;
}
.swiper-wrapper {
    position:relative;
    width:100%;
    pointer-events:none;
    -webkit-transition-property:-webkit-transform, left, top;
    -webkit-transition-duration:0s;
    -webkit-transform:translate3d(0px,0,0);
    -webkit-transition-timing-function:ease;
    
    -moz-transition-property:-moz-transform, left, top;
    -moz-transition-duration:0s;
    -moz-transform:translate3d(0px,0,0);
    -moz-transition-timing-function:ease;
    
    -o-transition-property:-o-transform, left, top;
    -o-transition-duration:0s;
    -o-transform:translate3d(0px,0,0);
    -o-transition-timing-function:ease;
    -o-transform:translate(0px,0px);
    
    -ms-transition-property:-ms-transform, left, top;
    -ms-transition-duration:0s;
    -ms-transform:translate3d(0px,0,0);
    -ms-transition-timing-function:ease;
    
    transition-property:transform, left, top;
    transition-duration:0s;
    transform:translate3d(0px,0,0);
    transition-timing-function:ease;

    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;

}
.swiper-free-mode > .swiper-wrapper {
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    margin: 0 auto;
}
.swiper-slide {
    float: left;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {
    -ms-touch-action: pan-y;
}
.swiper-wp8-vertical {
    -ms-touch-action: pan-x;
}

/* ===============================================================
Your custom styles, here you need to specify container's and slide's
sizes, pagination, etc.
================================================================*/
.swiper-container {
    /* Specify Swiper's Size: */

    /*width:200px;
    height: 100px;*/
}
.swiper-slide {
    /* Specify Slides's Size: */
    
    /*width: 100%;
    height: 100%;*/
}
.swiper-slide-active {
    /* Specific active slide styling: */
    
}
.swiper-slide-visible {
    /* Specific visible slide styling: */   

}
/* ===============================================================
Pagination Styles
================================================================*/
.swiper-pagination-switch {
    /* Stylize pagination button: */    

}
.swiper-active-switch {
    /* Specific active button style: */ 
    
}
.swiper-visible-switch {
    /* Specific visible button style: */    
    
}

.swiper-container{
    height: 100%;
}

.swiper-container, .swiper-slide {
    /*height: 100px;*/

}

   
.fa.nav-arrow{
    position: absolute;
    color: #333;
    z-index: 1000;
    line-height: 48px;
    padding: 0 10px;
    font-size: 18px;
    display: none;
}


.nav{

    line-height: 48px;
    height: 48px;
    text-align: center;
    background-color: #fff;
    color: #20c47e;
    border-bottom:1px solid #eee;
    font-size: 16px;
}

.content{
    background-color: transparent;
    pointer-events:none;
    /*;*/
}

.swiper-slide{
    pointer-events:none;
    background: #fff;
    position: relative;
}

.wrapper{
    position: relative;
    height: 568px;
    width: 100%;
    pointer-events:none;
}

.wrapper .logo{
    height: 100px;
    position: absolute;

    top: 50%;
    margin-top: -150px;
    text-align: center;
    width: 100%;
}



@-webkit-keyframes pretty {
    from {
        font-size: 10px;
        /*-webkit-transform:rotate(0deg);*/
    }

    to {
        font-size: 30px;
        /*-webkit-transform:rotate(180deg);*/
    }
}
@-webkit-keyframes size {
    from {
        font-size: 10px;
        color: red;
    }

    to {
        font-size: 30px;
        color: red;
        /*-webkit-transform:rotate(180deg);*/
    }
}

.wrapper .logo h3{
    font-size: 30px;
    color: #20c47e;
    text-shadow: 1px 1px 1px #eee;
    font-weight: bold;
    -webkit-animation: pretty 900ms ease-in-out 0 1 alternate;
}
.wrapper .logo p{
    margin: 5px;
}
.wrapper .logo .fa-heart{
    margin-top: 10px;
    font-size: 30px;
    color: red;
    -webkit-animation: size 1000ms ease-in-out 0 1 alternate;
}


.btns{
    position: absolute;
    bottom: 130px;
    width: 100%;
    z-index: 9999;
}

.btn.signin{
    /*background-color: rgb(68,68,68);*/
}

.btn.signup{
    /*background-color: rgb(122,122,122);*/
}

.btn{
    background-color: #20c47e;
    height: 40px;
    margin: 10px 10px;
    color:#fff;
    text-align: center;
    vertical-align: center;
    line-height: 40px;
    pointer-events:auto;
    font-size: 14px;
}

.touchable,input.text{
    pointer-events:auto;
}



.form{
    margin: 28px;
}

input.text{
    height: 30px;
    width: 100%;
    border:1px solid #ccc;
    padding: 5px 0 5px 34px;
    margin: 5px 0;
    margin-left: -20px;
}

.textinfo{
    font-size: 10px;
    margin-bottom: 15px;
    width: 100%;
    padding: 0 18px;
    margin-left: -24px;

}

.form .signupbtn{
    padding: 0 18px;
    width: 100%;
    margin-left: -20px;
}

.form .imgblock{
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
}



/*input.text:after{
    margin-right: 10px;
    content: ' ';
    width: 10px;
}*/



.textwrap{
    position: relative;
}

.icon{

    position: absolute;
    top: 19px;
    left: -5px;

}

.congratulations h3{
    font-size: 30px;
    text-align: center;
    color: #20c47e;
    margin: 40px 0;
}

.congratulations p.textinfo{
    font-size: 13px;
    color: #20c47e;
    line-height: 15px;
}


.headerfile{
    display: block;
    width: 100px;
    margin: 0 auto;
    opacity: 0;
    float: left;
    margin-top: -40px;
    width: 300px;
    height: 40px;
}


.options{
    margin-right: -15px;
}


.options .group{
    height: 35px;
    margin: 5px 0;
    margin-left: -20px;
    border:1px solid #20c47e;
}


.options .group span{
    line-height: 35px;
    display: inline-block;
    width: 50%;
    float: left;
    background-color: #20c47e;
    text-align: center;
    color: #fff;
    height: 35px;
    position: relative;
}

.options .group span.unchecked{
    background-color: #fff;
    color: #20c47e;
}

.options .group span.lastone:before{
    content: " ";
    width: 0;
    border-left: 1px solid #fff;
    height: 35px;
    position: absolute;
    left: 0;
}


.undis{
    display: none;
}


.js-correct_browser{
    bottom: 0px;
    left: 50%;
    margin-left: -120px;
    width: 240px;
    display: block;
    position: absolute;
    z-index: 9999;
    text-align: center;
    display: none;
}

.js-correct_browser p{
    font-size: 12px;
    margin: 10px 0; 
    color: #333;
}

@-webkit-keyframes fadeIn {
    from {
        -webkit-transform: translateY(0)
    }

    to {
        -webkit-transform: translateY(-8px)
    }
}


@keyframes fadeIn {
    from {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }

    to {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px)
    }
}
.js-correct_browser{
    -webkit-animation: fadeIn 900ms ease-in-out 0 infinite alternate;
}


.text.birthday{
    /*margin-left: 20px;*/
}

/*.birthdaywrap{
    border:1px solid #eee;
    margin-left: -20px;
    padding-left: 30px;
}*/


@-webkit-keyframes change {
    from {
        font-size: 50px;
    }
    10%{
        font-size: 60px;
    }

    to {
        font-size: 60px;
        color: red;
    }
}


@keyframes change {

    from {
        font-size: 50px;
    }

    10%{
        font-size: 60px;
    }

    to {
        font-size: 60px;
        color: red;
    }
}

/*
@-webkit-keyframes bigger {
    from {
        width: 60px;
    }
    
    to {
        width: 100%;
        left: 0;
        right: 0;
    }
}
*/
