


.message{
	padding: 10px;
	position: relative;
	min-height: 50px;
}

.message>div{

	display: inline-block;

}

.message .time{
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 12px;
}

.message .messagebox{
	vertical-align: top;
	font-size: 12px;
	color: #333;
	padding: 10px 20px 10px 10px;
	margin: 2px 10px;
	border:1px solid rgb(242,242,242);
	border-radius: 3px;
	word-break: break-all;
	max-width: 200px;
}

.message .messagebox.right{
	background: rgb(193,230,119);
	border: 1px solid rgb(193,230,119);
}


/*.message .messagebox:before{
	width:0; 
    height:0; 
    content: "";
    border-top:10px solid transparent;
    border-bottom:10px solid transparent; 
    border-right:10px solid #fff;
    position: absolute;
    left: 53px;
}*/

.message .right{
	float: right;
}

.input{

	height: 38px;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	background: #ccc;
	border-top:1px solid #ccc;
	background: #fff;
	z-index: 99999;

}

.input .fa-align-left{
	margin: 11px;
	font-size: 20px;
}

.input .inputtext{
	margin-left: 0;
	margin-top: 3px;
	padding: 7px;
	font-size: 12px;
	vertical-align: top;
	border: 0 none;
	border-bottom: 1px solid #ccc;
	width: 210px;
	border-radius: none;
}

.input .fa-plus-circle{
	font-size: 25px;
	float: right;
	margin: 11px;
	margin-top: 8px;
	outline: none;
}


























