
.feeds{
	.backgroundinput{
		position: absolute;
		opacity: 0;
		display: block;
		top: 30px;
		left: 100px;
		bottom: 0;
		width: 100px;
	}

	.bg{
		position:relative;
	}
}

.friends {
	
	.notifications{
		color: #fff;
		background: red;
		padding: 0 5px;
		border-radius: 9px;
	}

}

.mycontacts{
	
	margin-top:10px;
	border-top:1px solid #eee;

	.contact{
		margin: 10px;
		line-height: 30px;
		vertical-align: top;
		border-bottom:1px solid #eee;

		span{
			vertical-align: top;
			color: #333;
			margin-left: 10px;
		}
	}
}

.newfriend{
	.item .sign.add{
		padding: 0 10px;
		height: 30px;
		line-height: 30px;
		top:5px;
		right:60px;
	}

	.item .box{
		left: 60px!important;
	}

	.item .sign.refuse{
		padding: 0 10px;
		height: 30px;
		line-height: 30px;
		top:5px;
		right:10px;
		background: #ccc;
	}
}


.profile{
	font-size: 12px;
	background:#eee;
	overflow-y:auto;
	/*-webkit-transform: translate3d(0,0,0);*/
	.header{
		text-align: center;
		padding: 30px 0;
		position:relative;

		img{
			border-radius: 40px;
		}
		.imageinput{
			position:absolute;
			opacity:0;
			display:block;
			width:80px;
			height:80px;
			top:30px;
			left:50%;
			margin-left:-40px;
		}
	}

	.item{ 

		.now,.stable{
			float: right;
			margin-right: 30px;
			color: #999;
		}

		.stable{
			margin-right: 10px;
		}

	}

	h3{
		color: #999;
		margin: 25px 10px 10px;
		font-size: 14px;
		font-weight: normal;
	}

}



.texteditor{
	padding: 20px;

	textarea{
		width: 100%;
		padding: 10px;
		margin-left: -12px;
		border: 1px solid #ddd;
		outline: none;
		-webkit-appearance: none;
	}
}

.canvas{

	position: absolute;
	top: 52px;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fff;
	z-index: 1001;
	/*pointer-events:auto;*/
	display: none;


	canvas{
		margin: 25px;
		border:1px solid #999;
		pointer-events:auto;
	}
}


.nav{
	.fa-camera,.feedfile{
		position:absolute;
		top:15px;
		right:10px;
		font-size:20px;
		z-index:9999;
	}

	.feedfile{
		opacity:0;
	}

}



.feeds{
	
	.cfeed{
		width: 251px;
		overflow: hidden;


		.imagelist div{
			width:60px;
			height:60px;
			overflow:hidden;
			display:inline-block;
			border:1px solid #eee;
			float:left;

			img{
				min-height: 60px;
				min-width: 60px;
				max-width: 90px;
			}
		}

	}

	.feed {
		border-top: 1px solid #eee;
		position:relative;
	}


}

.newfeed{
	.sendbtn{
		position:absolute;
		top:15px;
		right:20px;
		color:#20c47e;
	}
	.saysomething{

		margin:15px;

		textarea{
			width:100%;
			padding:5px;
			margin-left:-5px;
			border:0;
			outline:none;
		}


	}


	.imagelist{



		>div{
			width:60px;
			display:inline-block;
			text-align:center;
			vertical-align: middle;
			border:1px solid #ddd;
			height:60px;
			margin:10px 0 0 10px;
		}

		img{
			width:60px;
		}

		.addmore{
			position:relative;
		}

		.addmore:after, .addmore:before{
			position:absolute;
			width:30px;
			height:0;
			border-top:2px solid #ddd;
			left:15px;
			top:30px;
			content:' ';
		}

		.addmore:before{
			
			width:0;
			height:30px;
			top:15px;
			left:30px;
			border-right:2px solid #ddd;
		}
		
		.newfile{
			position:absolute;
			opacity:0;
			display:block;
			top:0;left:0;right:0;bottom:0;
		}

	}
	
}


.search {
	
	.item{ 

		.now,.stable{
			float: right;
			margin-right: 30px;
			color: #999;
		}

		.stable{
			margin-right: 10px;
		}
	}

}

.loading{
	position:absolute;
	bottom:0;
	top:0;
	left:0;
	right:0;
	z-index:9999;
	text-align:center;
	background:#fff;
	.fa-heart{
		color: red;
		margin-top: 200px;
		font-size:80px;
		-webkit-animation: change 600ms ease 0 infinite alternate;
	}

	.progress{
		position:absolute;
		height:50px;
		top:50%;
		text-align:center;
		width:100%;
		color:#666;

		.perecnt{
			width:80%;
			height:8px;
			margin:10px auto;
			border:1px solid #eee;
			border-radius:5px;

			.value{
				height: 8px;
				background: #ccc;
				width: 0px;
				border-top-left-radius:5px;
				border-bottom-left-radius:5px;
			}
		}
	}

}


.preview{
	display:none;
	position:absolute;
	bottom:0;
	top:0;
	left:0;
	right:0;
	z-index:9999;
	text-align:center;
	background:#000;
	img{
		position: absolute;
		top: 50%;
	}
	.bigger{
		-webkit-animation: bigger 600ms ease 0 1 alternate;
	}
}














