

.hit{
	text-align: center;
	padding: 10px;
}

.hit h3{
	font-size: 12px;
	margin: 20px 0;
	color:#333;
}

.hit .btn{
	margin-top: 120px;
}

.search.form{
	margin: 5px 28px;
}



.search input.text{
	padding:5px 20px 5px 14px;
}

.nearby .item{
	padding: 10px;
	position: relative;
	border-bottom: 1px solid #eee;
}

.nearby .item .box{
	position: absolute;
	top: 10px;
	left: 80px;
}

.nearby .item .box p{
	color: #333;
	font-size: 12px;
	line-height: 20px;
}

.nearby .item .sign{
	position: absolute;
	right: 20px;
	top: 10px;
	font-size: 12px;
}




.feeds .bg{
	height: 180px;
	background: url(/img/bg.png) no-repeat;
	background-size: 100%;
	position: relative;
	margin-bottom: 50px;

}

.feeds .bg .header{
	position: absolute;
	bottom: -30px;
	right: 10px;
}

.feeds .name{
	position: absolute;
	bottom: 5px;
	color: #fff;
	font-size: 14px;
	right: 80px;
}

.feeds .feed .header{
	vertical-align: top;
	padding: 10px;
	display: inline-block;
}


.feeds .cfeed{
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 20px;
}


.feeds .cfeed h3{
	font-size: 12px;
	color: #999;
	display: inline-block;
}

.feeds .cfeed  p{
	font-size: 12px;
	color: #333;
	margin: 5px 0;
}


.feeds .cfeed .title{
	color: #ccc;
	font-size: 12px;
}

.feeds .cfeed .title h3{
	margin-right: 10px;
}


.feeds .cfeed .link{
	background-color: #ccc;
	padding: 10px;
}


.feeds .cfeed .link span{
	color: #333;
	font-size: 12px;
	padding-left: 10px;
	display: inline-block;
	vertical-align: top;
	line-height: 30px;
}












