


<div class=" form">

	<div class="textwrap">
		<i class="fa fa-phone icon"></i>
		<input type="number" class="text phonenumber" placeholder="输入手机号">
	</div>
	
	<div class="btn  signupbtn" style="margin-top:200px;">添加好友</div>
</div>



