

<div style="margin-right:34px">

	<textarea rows="8" class="touchable" style="display: block;margin: 10px;width: 100%;padding: 5px;outline:none;border:1px solid #ccc" placeholder="说点什么吧"></textarea>
</div>
<div class="btn" style="margin-top:50px;">提交</div>




