<div class="chatlist navlist touchable">
	
</div>
<div class="friends navlist touchable undis">
	<div class="items">
		
		<!-- <div class="item swipe touchable" action="/chat/hit" action-type="next">
			<span>搭讪</span>
			<i class="fa fa-chevron-right"></i>
		</div> -->
		<div class="item swipe touchable" action="/chat/newfriend" action-type="next">
			<span>好友请求</span>
			<span class="now notifications" hidden></span>
			<i class="fa fa-chevron-right"></i>
		</div>
		<div class="item swipe touchable" action="/chat/addcontact" action-type="next">
			<span>加好友</span>
			<i class="fa fa-chevron-right"></i>
		</div>
		<div class="item swipe touchable" action="/chat/search" action-type="next">
			<span>条件搜索</span>
			<i class="fa fa-chevron-right"></i>
		</div>
		<!-- <div class="item swipe touchable" action="/chat/comecross" action-type="next">
			<span>邂逅</span>
			<i class="fa fa-chevron-right"></i>
		</div> -->
		
		<div class="item swipe touchable" action="/chat/nearby" action-type="next">
			<span>附近的人</span>
			<i class="fa fa-chevron-right"></i>
		</div>
	</div>
	<div class="mycontacts">
		

	</div>
</div>
<div class="find navlist touchable undis">
	<div class="items">
		<div  class="item swipe touchable" action="/chat/feeds" action-type="next">
			<span>动态</span>
			<i class="fa fa-chevron-right"></i>
		</div>
		
	<!-- <div class="items"> -->
		<!-- <div  class="item swipe touchable" action="/chat/services" action-type="next">
			<span>服务</span>
			<i class="fa fa-chevron-right"></i>
		</div>
		<div  class="item swipe touchable" action="/chat/shopping" action-type="next">
			<span>购物</span>
			<i class="fa fa-chevron-right"></i>
		</div>
		<div  class="item swipe touchable" action="/chat/activity" action-type="next">
			<span>活动</span>
			<i class="fa fa-chevron-right"></i>
		</div>
		<div  class="item swipe touchable" action="/chat/dating" action-type="next">
			<span>约会</span>
			<i class="fa fa-chevron-right"></i>
		</div>
		<div  class="item swipe touchable" action="/chat/iday" action-type="next">
			<span>重要日子</span>
			<i class="fa fa-chevron-right"></i>
		</div> -->
	<!-- </div> -->
	</div>
</div>
<div class="mine navlist touchable undis">
	<div class="items">
		<div class="item swipe touchable" action="/chat/me" action-type="next">
			<span>
				<i class="fa fa-user"></i>
				<span class="name" style="margin-left:0"></span>
			</span>
			<i class="fa fa-chevron-right"></i>
		</div>
	</div>
	<div class="items">
		<div class="item swipe touchable" action="/chat/like" action-type="next">
			<span><i class="fa fa-star"></i>收藏</span>
			<i class="fa fa-chevron-right"></i>
		</div>
	</div>
	<!-- <div class="items">
		<div class="item swipe touchable" action="/chat/wallet" action-type="next">
			<span><i class="fa fa-money"></i>钱包</span>
			<i class="fa fa-chevron-right"></i>
		</div>
		<div class="item swipe touchable" action="/chat/address" action-type="next">
			<span><i class="fa fa-map-marker"></i>收货地址</span>
			<i class="fa fa-chevron-right"></i>
		</div>
		<div class="item swipe touchable" action="/chat/emotion" action-type="next">
			<span><i class="fa fa-heart"></i>情感状态</span>
			<i class="fa fa-chevron-right"></i>
		</div>
	</div> -->
	<div class="items">
		<div class="item swipe touchable" action="/chat/feedback" action-type="next">
			<span><i class="fa fa-thumbs-o-up"></i>反馈</span>
			<i class="fa fa-chevron-right"></i>
		</div>
	</div>
</div>
</div>


<div class="bottom-bar ">
	<div class="item touchable current chatlistbtn" column="chatlist">
		<i class="fa fa-comments"></i>
		<span>聊天</span>
	</div>
	<div class="item touchable friendsbtn" column="friends">
		<i class="fa fa-group"></i>
		<span>朋友</span>
	</div>
	<div class="item touchable findbtn" column="find">
		<i class="fa fa-eye"></i>
		<span>发现</span>
	</div>
	<div class="item touchable minebtn"  column="mine">
		<i class="fa fa-user"></i>
		<span>我</span>
	</div>
</div>


