



<div class="newfeed navlist">

	<div class="sendbtn touchable">发布</div>

	<div class="saysomething">
		<textarea class="touchable" placeholder="说点什么..."></textarea>
	</div>

	<div class="imagelist">
		<div class="addmore touchable">
			<input type="file" class="newfile touchable" accept="image/*; capture=camera" >
		</div>
	</div>

	<div class="items">
		<div class="item swipe touchable" action="" action-type="next">
			<span><i class="fa fa-map-marker"></i>定位</span>
			<i class="fa fa-chevron-right"></i>
		</div>
		<div class="item swipe touchable" action="" action-type="next">
			<span><i class="fa fa-globe"></i>分享给</span>
			<i class="fa fa-chevron-right"></i>
		</div>
		<div class="item swipe touchable" action="" action-type="next">
			<span><i class="fa fa-at"></i>朋友</span>
			<i class="fa fa-chevron-right"></i>
		</div>
	</div>
</div>

<script type="text/javascript">

	void function(){

		var tmpl = '{{#each list}}<div class="imglist"><img src="/upload/{{this}}" height="60"></div>{{/each}}',
			imagelist = S.get("imagelist") || [];

		var data = {list: imagelist};

		// alert(imagelist, S.get("imagelist"));
		
		$(".newfile").off().on("change", function(){

			S.addFeedImage(this.files[0], function(filename){

				data.list.push(filename);
				insert();

				S.set("imagelist", data.list);
			});

		});

		$(".sendbtn").off().on("tap", function(){

			var feed = {};

			feed.imagelist = data.list.join(",");
			feed.text = $(".saysomething textarea").val();


			$.post("/user/feed", feed, function(x){
				S.set("imagelist", []);
				data.list = [];
				insert();

				$(".leftarrow").trigger("tap");
			});


		});



		insert();

		function insert(){
			$(".imglist").remove();
			var html = Handlebars.compile(tmpl)(data);
			$(html).insertBefore($(".addmore"));
		}

		// var geoc = new BMap.Geocoder();   

		// var locationSuccess = function(position){

		// 	var coords = {};
		// 	coords.lat = parseFloat(position.coords.latitude.toFixed(6));   
		// 	coords.lng = parseFloat(position.coords.longitude.toFixed(6));  
		// 	// console.log(coords)
		// 	// geoc.getLocation(coords, function(rs){

		// 	// 	if(!rs) return;

		// 	// 	var addComp = rs.addressComponents;
		// 	// 	alert(addComp.province + ", " + addComp.city + ", " + addComp.district + ", " + addComp.street + ", " + addComp.streetNumber);
		// 	// });

		// };

		// if (navigator.geolocation) {
		//     navigator.geolocation.getCurrentPosition(locationSuccess);
		// }

	}();

</script>
