



<div class="texteditor">
	<textarea class="touchable"></textarea>

</div>
<script type="text/javascript">

	void function(){
		var user = S.get("user"), type = localStorage.editkey,
			data = {}, leftarrow = $(".leftarrow");

		var dom = $(Swiper.activeSlide());

		var text = dom.find(".texteditor"), textarea = text.find("textarea");

		text.off().on("keydown", "textarea", function(){
			if(event.keyCode == 13) return save.call(this);
		}).on("focusout", save);

		textarea.val(user[type]||"");

		function save(event){
			data[type] = textarea.val();
			$.post("/restful/User/"+user._id, data, function(data){
				// textarea.blur();
				text.off();
				leftarrow.trigger("tap");
			});
			return false;
		}
	}();

</script>




